<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- App Settings -->
  <appSettings>
    <add key="UnityRegistrationAssemblyType" value="" /> <!-- fully qualified class and the assembly that class lives Ex:- UnityServiceInitiator.UnityRegistration, UnityServiceInitiator -->
  </appSettings>
</configuration>
